{% extends "model-page.html" %}

{% block content %}
<h2>Event</h2>
<form action="submit" method="POST">{% csrf_token %}
  <label>Titulo</label>
  <br>
  <input type="text" name="title" size="23">
  <br>
  <label>Data de Evento:</label>
  <br>
  <input type="datetime-local" name="event_date">
  <br>
  <label>Descrição</label>
  <br>
  <textarea name="description" rows="5" cols="24"></textarea>
  <br><br>
  <button type="submit">Salvar</button>
  <a href="/">
    <button type="button">Cancelar</button>
  </a>
</form>

{% endblock %}
